<header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-muted">This site is based on the Rick and Morty APIs (you can find the link at the bottom by clicking on "Resources". I created this site as a demo to put into practice my knowledge of the Angular framework, RxJs, Javascript, Typescript, Css and Bootstrap. To view the code visit my github. </p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Contact</h4>
            <ul class="list-unstyled">
              <li><a href="https://www.linkedin.com/in/giovanni-cozzi-0b1595113" target="_blank" class="text-white">LinkedIn</a><i class="bi bi-linkedin"></i></li>
              <li><a href="https://github.com/gc9319" target="_blank" class="text-white">GitHub</a><i class="bi bi-github"></i></li>
              <li><a href="mailto:giovanni_cozzi1@yahoo.com" class="text-white">Email me</a><i class="bi bi-envelope-fill"></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <img src="../../assets/ib7Q6tWVRhrB4ON1jb08EYyMRURjjZhHvQbfSjEZzQw.png" id="iconh">
        </a>
        <img src="../../assets/Rick_and_Morty_logo.png" alt="rmlogo" id="iconh1">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>