section {
    background-color: #202329 !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

table {
    width: 80vw;
    box-shadow: 4px 5px 5px -2px rgba(0,0,0,0.57);
    -webkit-box-shadow: 4px 5px 5px -2px rgba(0,0,0,0.57);
    -moz-box-shadow: 4px 5px 5px -2px rgba(0,0,0,0.57);
}

h1 {
    color: white;
    font-weight: 900;
}

